.warning{
    height: 40px;
    background-color: #403d39;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 0;
    top: 10%;
    width: 250px;
    font-size: 14px;
    padding: 5px;
}